.new-item-form {
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    margin: 3vh 10vw;
    padding: 3vh 5vw;
}

div.search-bar div.input {
    width: 100% !important;
}

.loading-container {
    min-width: 100%;
    min-height: 100vh;
    font-size: 150%;
}